.main-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      margin: 20px auto;
      max-width: 1200px;
      padding: 20px;
      min-height: 72vh;

}

.info_form {
      flex: 1;
      min-width: 60%;
      /* background-color: #f9fafb; */
      padding: 20px;
}

.checkout-form {
      background-color: #f9fafb;
      padding: 24px;
      /* border-color: #000; */
      border: 1px solid #ddd;
      font-family: Arial, sans-serif;

}

.form-title {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 16px;
}

.login-link {
      float: right;
      color: #333;
      text-decoration: underline;
      font-size: 14px;
      margin-bottom: 20px;
}

.form_group {
      display: flex;
      flex-direction: column;
      margin-top: 29px;
      margin-bottom: 29px;
      width: 100%;
      align-items: flex-start;
}

.form_label {
      font-weight: 500;
      margin-bottom: 8px;
      width: 100%;
      font-size: 16px;
      text-align: left;
}

.form_label_payment {
      font-weight: 500;
      margin-bottom: 8px;
      width: 100%;
      font-size: 16px;
      text-align: left;
      /* Align label text to the left */
}

.form_input {
      width: 100%;
      padding: 12px;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      font-size: 16px;
}

.form_input_more {
      width: 100%;
      padding: 12px;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      font-size: 16px;
      margin-bottom: 6px;
}

@media (min-width: 768px) {
      .form_group {
            flex-direction: row;
            align-items: center;
      }

      .form_label {
            width: 172px;
            margin-right: 20px;
            text-align: left;
      }

      .form_label_payment {
            width: 172px;
            margin-bottom: 18px;
            text-align: left;
      }


}


.helper-text {
      font-size: 12px;
      color: #6b7280;
      margin-top: 4px;
}


.optional-title {
      font-size: 16px;
      font-weight: bold;
      margin-top: 24px;
}

.optional-subtext {
      color: #666;
      margin-bottom: 16px;
}

.optional-label {
      font-size: 12px;
      color: #666;
      float: right;
}

.form-radio-group {
      display: flex;
      gap: 20px;
}

.radio-label {
      display: flex;
      align-items: center;
}

.form-radio {
      margin-right: 8px;
}

.checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 12px;
}

.checkbox-label {
      display: flex;
      align-items: center;
}

.form-checkbox {
      margin-right: 8px;
}

.required {
      color: #ef4444;
}

.submit-button {
      background-color: #000;
      color: white;
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
}

.submit_button_payment {
      background-color: #000;
      color: white;
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px;
}

.submit-button:hover {
      background-color: #333;
}

.submit_button_payment:hover {
      background-color: #333;
}


input[type="text"],
input[type="date"],
input[type="email"] {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      color: #333;
      background-color: #f9f9f9;
      box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="email"]::placeholder {
      color: #bfbfbf;
      font-weight: normal;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
      outline: none;
      border-color: #666;
}

#firstName,
#number,
#birthDate,
#email {
      margin-bottom: 8px;
}


.section-header {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      cursor: pointer;

}

.step-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 30px;
      font-weight: 400;
      font-size: 15px;
      border-right: 1px solid #ddd;
      position: relative;
}

.step-title {
      padding-left: 20px;
      font-size: 15px;
      text-transform: uppercase;
}

.step-number::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #ddd;
}


.cart-summary {
      margin-top: 20px;
      width: 30%;
      height: fit-content;
      padding: 24px;
      border: 1px solid #ddd;
      font-family: Arial, sans-serif;
      background-color: #fff;
}

.cart-title {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 16px;
}

.cart-items {
      list-style-type: none;
      padding: 0;
      margin: 0;
}

.cart-item {
      display: flex;
      align-items: flex-start;
      padding-bottom: 12px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
}


.cart-item-image img {
      width: 60px;
      height: 60px;
      object-fit: cover;
}

.cart-item-details {
      margin-left: 10px;
}

.item-name {
      font-size: 14px;
      font-weight: bold;
      color: #333;
}

.item-subtext {
      font-size: 12px;
      color: #666;
      /* margin-bottom: 8px; */
}

.item-price {
      font-size: 12px;
      /* color: #666; */
      /* font-size: 16px; */
      font-weight: bold;

}

.item-quantity {
      /* font-size: 12px; */
      /* color: #666; */
      /* font-size: 16px; */
      font-size: 12px;
      color: #666;
}

.cart-total {
      margin-top: 10px;
      padding-top: 10px;
      font-size: 14px;
}

.total-value {
      float: right;
      font-weight: bold;
      color: #333;

}

.livraison-value {
      margin-top: 8px;
}

.cart-total-ttc {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #ddd;

}

@media (max-width: 768px) {
      .cart-summary {
            width: 100%;
            padding: 20px;
      }

      .total-value {
            float: none;
      }

      .cart-title {
            text-align: center;
      }
}









@media (max-width: 768px) {
      .main-form {
            flex-direction: column;
            gap: 0;
            /* Remove the gap on mobile */
      }

      .info_form,
      .cart-summary {
            width: 100%;
            margin-bottom: 20px;


      }

      .cart-summary {
            padding: 20px;
            border: 1px solid #ddd;
      }

      .submit-button {
            margin-top: 5px;
            width: 100%;
      }
}

.submit-button:hover {
      background-color: #333;
}




.input-error {
      border-color: red;
}

.error-tooltip {
      position: relative;
}

.error-tooltip .error-message {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #3d3d3d;
      color: white;
      padding: 8px;
      border-radius: 4px;
      font-size: 12px;
      z-index: 1;
      white-space: nowrap;
}

.error-tooltip .error-message::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 10px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #3d3d3d transparent;
}




@media (max-width: 768px) {

      .input-error {
            border-color: red;
      }

      .error-tooltip {
            position: relative;
      }

      .error-tooltip .error-message {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #3d3d3d;
            color: white;
            padding: 8px;
            border-radius: 4px;
            font-size: 9px;
            z-index: 1;
            white-space: nowrap;
      }

      .error-tooltip .error-message::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 10px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #3d3d3d transparent;
      }
}










.modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
}

.modal-content {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      max-width: 400px;
      width: 100%;
}

.modal-content h2 {
      margin-bottom: 15px;
      font-size: 1em;

      /* text-align: left; */
}

.modal-content p {
      margin-bottom: 20px;
      font-size: 1em;

      /* text-align: left; */

}

.modal-content button {
      padding: 10px 25px;
      border: none;
      cursor: pointer;
      font-size: 1em;
      border-radius: 4px;
      text-align: center;
      background-color: #000;
      color: white;
}




.order-button,
.continue-shopping-button {
      padding: 10px 25px;
      border: none;
      cursor: pointer;
      font-size: 1em;
      border-radius: 4px;
      text-align: center;
}

.order-button {
      background-color: #000;
      color: white;
}