@keyframes scroll {
    0% {
      transform: translateX(0%); /* Start from 0% */
    }
    100% {
      transform: translateX(-50%); /* Move to -50% to create the seamless loop */
    }
}

.animate-scroll {
    display: inline-block;
    animation: scroll 15s linear infinite;
}
