.swiper-wrapper {
      width: 100%;
      height: auto !important;
      padding-bottom: 64px !important;
      transition-timing-function: linear !important;
      position: relative;
  }
  
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #4F46E5 !important;
  }
  
  @media (max-width: 768px) {
      .swiper-wrapper {
          height: 300px !important;
      }
  }
  